* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    background-color: #003A69;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    height: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.login {
    display: flex;
    flex-direction: column;
}

.login .logos {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
}

.login .logos * {
    max-height: 3rem;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.login form h1 {
    font-size: 2rem;
}

.login form .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.login form .inputs label {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.login form .inputs label .label-text {
    font-size: 1.15rem;
}

.login form .inputs input {
    border: 2px solid black;
    border-radius: 0;
    padding: .5rem;
    font-size: 1rem;
}

.login form .inputs input:focus {
    outline: none;
    border: 2px solid #003A69;
    background-color: #003A69;
    color: white;
}

.login form .inputs button {
    border: none;
    background-color: #003A69;
    color: white;
    font-weight: bolder;
    font-size: 11pt;
    padding: .75rem;
    margin-top: .5rem;
    transition: 200ms ease all;
}

.login form .inputs button:hover {
    cursor: pointer;
    background-color: #0060B0;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    color: white;
    overflow: hidden;
    border-radius: 1.5rem;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0) 50%);
    z-index: 1;
}

.banner .imagem-campus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.banner .campus {
    font-size: 2.75rem;
    z-index: 1;
    font-weight: bold;
}

.banner .endereco {
    font-size: 1.15rem;
    z-index: 1;
    margin-top: 0.5rem;
}
